<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Casa do Código</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/slick/slick.css" />
        <link rel="stylesheet" href="~/lib/slick/slick-theme.css" />
        <link rel="stylesheet" href="~/lib/fontawesome-free-5.3.1-web/css/all.css" />
        <link rel="stylesheet" href="~/css/app.css" />
    </environment>
    
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-casadocodigo">
        <div class="container">
            <a class="navbar-brand pt-0 pb-0 mt-0 mb-0" href="@Url.Action("Index", "Livro")">
                <img src="~/images/logo.png" alt="Logo da Casa do Código" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" 
                    data-target="#navContent" aria-controls="navContent" aria-expanded="false" 
                    aria-label="Acessar menu de navegação">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navContent">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown font-weight-bold">
                        <a class="nav-link dropdown-toggle" href="#" id="livrosDropdown" role="button" 
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Livros
                        </a>
                        <div class="dropdown-menu" aria-labelledby="livrosDropdown">
                            <a class="dropdown-item" href="@Url.Action("Form", "Livro")">Novo Livro</a>
                            <a class="dropdown-item" href="@Url.Action("Index", "Livro")">Lista de Livros</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" href="@Url.Action("Index", "Categoria")">Categorias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" href="@Url.Action("Index", "Autor")">Autores</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        @RenderBody()
    </div>

    <environment include="Development">
        <script src="~/js/jquery-3.3.1.js"></script>
        <script src="~/js/popper.js"></script>
        <script src="~/js/bootstrap.js"></script>
        <script src="~/lib/slick/slick.js"></script>
    </environment> 

    @RenderSection("Scripts", required: false)
</body>
</html>
