@model Autor

@{
    ViewData["Title"] = "Editar Autor";
}

<section id="cadastro-autor">
    <h2 class="cdc-title">Editar Autor</h2>
    @using (Html.BeginForm("Atualizar", "Autor", FormMethod.Post, new { @id = "form-autor" }))
    {
        @Html.HiddenFor(a => a.Id)
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="form-group">
                    @Html.LabelFor(a => a.Nome, "Nome:", new { @class = "label" })
                    @Html.TextBoxFor(a => a.Nome, new { @class = "form-control" })
                    @Html.ValidationMessageFor(a => a.Nome, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="form-group">
                    @Html.LabelFor(a => a.Biografia, "Biografia:", new { @class = "label" })
                    @Html.TextAreaFor(a => a.Biografia, new { @class = "form-control", @rows = "4" })
                    @Html.ValidationMessageFor(a => a.Biografia, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-warning text-white font-weight-bold">Atualizar</button>
        <a href="@Url.Action("Index", "Autor")" class="btn btn-outline-secondary">Cancelar</a>
    }
</section>